.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.makerAll{
	margin: 0px 10px;
}
.makerAll span{
	margin: 0px 20px;
	font-weight: bold;
	font-size: 16px;
}

/* icons */
.icon {
	width: 20px;
	height: 20px;
	background: url(images/sprite.png) no-repeat;
	display: block;
}

.icon.map-view-icon {
    background-position: -80px 0;
	float: left;
}
.icon.map-view-icon:hover, .icon.map-view-icon.active {
	background-position: -80px -20px;
}
  
.icon.left-arrow {
	background-position: -160px 0px;
}
.icon.left-arrow:hover, .icon.left-arrow.active {
	background-position: -160px -20px;
}

.icon.right-arrow {
	background-position: -180px 0;
}
.icon.right-arrow:hover, .icon.right-arrow.active {
	background-position: -180px -20px;
}

.icon.play-arrow {
	background-position: -200px 0;
}
.icon.play-arrow:hover, .icon.play-arrow.active {
	opacity: 0.5;
}

.icon.stop-arrow {
	background-position: -200px -20px;
}
.icon.stop-arrow:hover, .icon.stop-arrow.active {
	opacity: 0.5;
}

/*date-slider */
.date-slider {
	width: 130px;
	margin: 0 auto 0 auto;
	text-align: center;
}
.date-slider .inner {
	margin-top: 7px;
	height: 20px;
}
.date-slider .inner a, span {
	display: inline-block;
	line-height: 20px;
}
.date-slider .inner span {
	height: 27px;
	line-height: 18px;
	vertical-align: middle;
	color: #303030;
	padding-top: 0;
}